:root {
  --accent-color: #5e5ee5;
  --accent-second-color: #3db23d;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__top {
  background-color: var(--accent-second-color);
  position: relative;
  z-index: 3;
}

.header__top-divider {
  color: white;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

.header__top-link {
  color: white;
  font-size: 14px;
}

.header__top-link:focus,
.header__top-link:active,
.header__top-link:hover {
  text-decoration: underline;
}

.header__bottom {
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-list {
  display: flex;
  justify-content: space-between;
}

.header__bottom-link {
  color: white;
  font-size: 20px;
}

.header__bottom-link:focus,
.header__bottom-link:active,
.header__bottom-link:hover {
  text-decoration: underline;
  outline: none;
}

.header__container-nav {
  flex: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__inner {
  flex: 1;
}

.logo__text {
  font-size: 35px;
  color: white;
  font-family: 'Athiti', sans-serif;
}

.intro {
  position: relative;
  height: 87vh;
}

.intro__slider {
  position: relative;
}

.intro__slider-img {
  position: absolute;
  width: 100%;
  height: 87vh;
  object-fit: cover;
}

.intro:after {
  content: '';
  width: 100%;
  height: 87vh;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.8) 100%);
  z-index: 1;
}

.intro__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__slogan {
  color: white;
}


.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  position: relative;
  z-index: 3;
}

.intro__logo-text {
  font-size: 70px;
  color: white;
  font-family: 'Athiti', sans-serif;
  line-height: 1.1;
}

.intro__call-list {
  display: flex;
  justify-content: space-between;
}

.intro__call-item {
  color: white;
  width: 200px;
  text-align: center;
}

.intro__call-link {
  color: #7efc12;
}

.intro__call-link:hover,
.intro__call-link:focus,
.intro__call-link:active {
  text-decoration: underline;
}

.intro__search-form {
  text-align: center;
}

.intro__search-field {
  width: 50%;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  border: 1px solid white;
}

.intro__search-field:active,
.intro__search-field:hover,
.intro__search-field:focus {
  outline: none;
  box-shadow: 0 0 10px 4px rgba(71, 71, 71, 0.3);
}

.intro__search-field[type="search"] {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro__search-btn {
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--accent-color);
  color: white;
}

.intro__search-btn:active,
.intro__search-btn:focus,
.intro__search-btn:hover {
  outline: none;
  text-decoration: underline;
}

.intro__slider-dots {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.intro__slider-dots > span {
  width: 10px;
  height: 10px;
  background-color: #808080;
  z-index: 3;
  margin: 0 0 0 10px;
  border-radius: 50%;
}

span.slider-dots__active {
  background-color: #ffffff;
}

.dropdown-container {
  padding: 0 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin: 5px;
}

.dropdown__btn-sidebar {
  display: block;
  width: 95%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(240, 240, 240);
}

.dropdown__btn-sidebar:hover {
  background-color: var(--accent-color);
  color: white;
}

.dropdown__btn-sidebar:after {
  content: '\25BC';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.dropdown__link {
  color: black;
  font-size: 17px;
}

.dropdown-item {
  margin-bottom: 5px;
}

.dropdown__link:hover {
  color: #0000ff;
}

.sidebar__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.dropdowm__btn-active {
  background-color: var(--accent-color);
  color: white;
}

.main {
  flex: 1;
}

.main__content {
  display: grid;
  grid-template-columns: 24% 76%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 85px);
}

.sidebar {
  padding: 10px;
  border-right: 1px solid var(--accent-color);
}

.sidebar__nav {
  position: sticky;
  top: 60px;
}

/* CONTENT  */

.reviews__items-img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item-title {
  text-align: center;
}

.reviews__items-img__container--right {
  order: 2;
}

.reviews__item {
  display: flex;
}

.reviews__item-quote {
  padding: 15px;
}

.reviews__item-quote.reviews__item-quote--right {
  text-align: right;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribe {
  background-color: rgb(240, 240, 240);
  padding: 25px;
  min-height: 30vh;
  min-height: 200px;
}

.question {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.question__text,
.registration__text {
  text-align: center;
  font-size: 20px;
  align-self: center;
}

.question__text-link,
.registration__text-link {
  color: blue;
}

.question__text-link:hover,
.question__text-link:focus,
.question__text-link:active,
.registration__text-link:hover,
.registration__text-link:focus,
.registration__text-link:active {
  text-decoration: underline;
}

.question,
.registration {
  background-color: rgb(240, 240, 240);
  padding: 25px;
  height: 20vh;
  min-height: 150px;
}

.registration {
  display: flex;
  justify-content: center;
}

.subscribe__form-text {
  padding: 25px 0 25px 0;
  font-size: 20px;
  text-align: center;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.subscribe__img {
  float: left;
}

.subscribe__email {
  width: 60%;
  padding: 9px 0 9px 0;
  border-radius: 20px;
  border: 1px solid white;
}

.subscribe__email:hover {
  box-shadow: 0 0 10px 4px rgba(133, 133, 133, 0.3);
}

.subscribe__email:active,
.subscribe__email:hover,
.subscribe__email:focus {
  outline: none;
}

.subscribe__email[type="email"] {
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscribe__btn {
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--accent-color);
  color: white;
}

.subscribe__btn:active,
.subscribe__btn:focus,
.subscribe__btn:hover {
  text-decoration: underline;
  outline: none;
}

.no-decor-text {
  font-weight: 400;
}


.reviews__list,
.blog__list,
.forum__topics {
  padding: 15px;
}

.blog__title-inner,
.reviews__title-inner,
.forum__title-inner {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-color);
  padding: 10px 15px 10px 15px;

}

.blog__title,
.reviews__title,
.forum__title {
  font-size: 30px;
  color: white;
}

.blog__title-link,
.reviews__title-link,
.forum__title-link {
  font-size: 20px;
  padding: 6px;
  color: white;
}

.blog__title-link:hover,
.reviews__title-link:hover,
.forum__title-link:hover,
.blog__title-link:focus,
.reviews__title-link:focus,
.forum__title-link:focus,
.blog__title-link:active,
.reviews__title-link:active,
.forum__title-link:active {
  text-decoration: underline;
}

.blog__list {
  display: flex;
}


/* FOOTER */

.footer__top {
  background-color: var(--accent-color);
  padding: 20px 0 0 0;
  clear: both;
}

.footer__menu {
  padding: 15px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__container-nav {
  margin-top: 17px;
}

.foooter__logo__section-list {
  flex-direction: column-reverse;
}

.footer__top-logo__link {
  font-size: 16px;
}

.footer__logo__section-item,
.footer__bottom-item {
  margin-bottom: 5px;
}

.footer__bottom-list {
  flex-direction: column;
}

.footer__bottom-link {
  font-size: 1rem;
}

.footer__menu-title {
  color: white;
  font-size: 1.5rem;
}

.footer__logo-section {
  flex: 25%;
}

.footer__articles-section {
  flex: 25%;
}

.footer__menu-section {
  flex: 15%;
}

.footer__rehab-section {
  flex: 30%;
}

.footer__bottom {
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.footer__bottom-text,
.footer__bottom-copyright {
  padding: 5px 0 5px 0;
}

