* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__top {
  background-color: #3db23d;
  position: relative;
  z-index: 3;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

.header__top-link {
  color: white;
  font-size: 14px;
}

.header__top-link:focus,
.header__top-link:active,
.header__top-link:hover {
  color: black;
  outline: none;
}

.header__bottom {
  background-color: #5e5ee5;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-list {
  display: flex;
  justify-content: space-between;
}

.header__bottom-link {
  color: white;
  font-size: 18px;
}

.header__bottom-link:focus,
.header__bottom-link:active,
.header__bottom-link:hover {
  color: black;
  outline: none;
}

.header__container-nav {
  flex: 2;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__inner {
  flex: 1;
}

.logo__text {
  font-size: 35px;
  color: white;
  font-family: 'Athiti', sans-serif;
}

.intro {
  position: relative;
  height: 87vh;
  /* height: 87vh;
  background-image: url(../img/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.intro__slider {
  position: relative;
}

.intro__slider-img {
  position: absolute;
  width: 100%;
  height: 87vh;
  object-fit: cover;
}

.intro:after {
  content: '';
  width: 100%;
  height: 87vh;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.8) 100%);
  z-index: 1;
}

.intro__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__slogan {
  color: white;
}


.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  position: relative;
  z-index: 3;
}

.intro__logo-text {
  font-size: 70px;
  color: white;
  font-family: 'Athiti', sans-serif;
  line-height: 1.1;
}

.intro__call-list {
  display: flex;
  justify-content: space-between;
}

.intro__call-item {
  color: white;
  width: 200px;
  text-align: center;
}

.intro__call-link {
  color: #7efc12;
}

.intro__call-link:hover,
.intro__call-link:focus,
.intro__call-link:active {
  color: red;
}

.intro__search-form {
  text-align: center;
}

.intro__search-field {
  width: 50%;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  border: none;
}

.intro__search-field:active,
.intro__search-field:hover,
.intro__search-field:focus {
  outline: none;
}

.intro__search-field[type="search"] {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro__search-btn {
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  background-color: #5e5ee5;
  color: white;
  transition: all ease-in-out .3s;
}

.intro__search-btn:active,
.intro__search-btn:focus,
.intro__search-btn:hover {
  transform: scale(1.1);
  outline: none;
}

.intro__slider-dots {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.intro__slider-dots > span {
  width: 10px;
  height: 10px;
  background-color: #808080;
  z-index: 3;
  margin: 0 0 0 10px;
  border-radius: 50%;
}

span.slider-dots__active {
  background-color: #ffffff;
}

.dropdown-container {
  /* display: none;
  background-color: #e9f7ae;
  padding-left: 8px;
  width: 90%;

  transition: .3s ease-in-out; */
  padding: 0 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  margin: 5px;
}

.dropdown__btn-sidebar {
  display: block;
  width: 95%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown__btn-sidebar:after {
  content: '\25BC';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.dropdown__link {
  color: black;
  font-size: 17px;
}

.dropdown-item {
  margin-bottom: 5px;
}

.dropdown__link:hover {
  color: #0000ff;
}

.sidebar__title {
  margin-bottom: 10px;
  margin-left: -5px;
}

.active {
  background-color: #5e5ee5;
  color: white;
}

.main__content {
  display: grid;
  grid-template-columns: minmax(250px, 320px) auto;
}

.sidebar {
  padding: 10px;
  border-right: 1px solid #5e5ee5;
}

.text-content {
  padding: 10px;
}